*, ::after, ::before{
    box-sizing: border-box;
  }

body {
    color: #4e4e4e;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    }

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

.page1{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  

#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 40px 0;
    background-color: #000!important;
  }

.container{
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    max-width: 1320px;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.h1{
    color: #1e1e1e;
    line-height: 1.2;
}

#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
  }

  a {
    color: #1e1e1e;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  #header .logo a {
    color: #fff;
  }

.navbar{
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 30px;
  }

  .navbar li {
    position: relative;
  }

  .navbar a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
  }

  #underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}
#underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dbe3e7;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

#underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

  .navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

.bi{
    content: "\f282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

element {
    background-image: url(./hero-bg.jpg);
  }

  .hero {
    height: 100vh;
    position: relative;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  .hero .overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }

  .hero .hero-content {
    text-align: center;
    position: absolute; 
    width: 100%;
    height: 100%;
    display: table;
  }
  .overlay-itro {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#greeting-title {
    font-weight: bolder;
    font-size: 65px;
    color: white;
    z-index: 15;
}
.animated-text::after {
  font-size: 37px;
  font-weight: 500;
  content: "|";
  animation-name: typing;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  color: rgb(221, 217, 217);
}

@keyframes typing {
  0% {
      content: "D|";
  }

  2% {
      content: "De|";
  }

  4% {
      content: "Des|";
  }

  7% {
      content: "Desig|";
  }

  10% {
      content: "Design|";
  }

  12% {
      content: "Designe|";
  }

  14% {
      content: "Designer|";
  }

  18% {
      content: "Designer|";
  }

  20% {
      content: "Designe|";
  }

  22% {
      content: "Design|";
  }

  24% {
      content: "Desig|";
  }

  26% {
      content: "Desi|";
  }

  29% {
      content: "Des|";
  }

  31% {
      content: "De|";
  }

  33% {
      content: "Dev|";
  }

  34% {
      content: "Deve|";
  }

  36% {
      content: "Devel|";
  }

  39% {
      content: "Develo|";
  }

  41% {
      content: "Develop|";
  }

  44% {
      content: "Develope|";
  }

  46% {
      content: "Developer|";
  }

  50% {
      content: "Develope|";
  }

  52% {
      content: "Develop|";
  }

  55% {
      content: "Develo|";
  }

  59% {
      content: "Devel|";
  }

  62% {
      content: "Deve|";
  }

  65% {
      content: "Dev|";
  }

  69% {
      content: "De|";
  }

  72% {
      content: "D|";
  }

  74% {
      content: "F|";
  }

  76% {
      content: "Fr|";
  }

  78% {
      content: "Fre|";
  }

  80% {
      content: "Free|";
  }

  82% {
      content: "Freel|";
  }

  84% {
      content: "Freela|";
  }

  86% {
      content: "Freelan|";
  }

  88% {
      content: "Freela|";
  }
  90% {
      content: "Freel|";
  }
  92% {
    content: "Free|";
}
94% {
  content: "Fre|";
}
96% {
  content: "Fr|";
}
98% {
  content: "F|";
}
100% {
  content: "|";
}
}

.page2{
  display: block;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  padding-top: 4rem;
  display: grid;
  padding: 60px;
  background-color: white;
  box-shadow: 0 0 7px rgb(190, 190, 190);
  margin: 120px 0 50px 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.75fr 2fr;
  grid-gap: 30px;
  width: 80%;
  box-sizing: border-box;
  width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
